RestfulWCFTest/Connected Services/TestServiceReference/TestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/RestfulWCFTest?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/RestfulWCFTest?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/RestfulWCFTest?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestfulWCFTest" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestService_GetTextFromPost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTextFromPost" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetTextFromPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTextFromPostResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetTextFromDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTextFromDTO" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetTextFromDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTextFromDTOResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestService">
    <wsdl:operation name="GetTextFromPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetTextFromPost" message="tns:ITestService_GetTextFromPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetTextFromPostResponse" message="tns:ITestService_GetTextFromPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTextFromDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetTextFromDTO" message="tns:ITestService_GetTextFromDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetTextFromDTOResponse" message="tns:ITestService_GetTextFromDTO_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="TestService" />
</wsdl:definitions>